  <%= search_form_for @search do |f| %>
    <div class="form-group input-group ">
      <%= f.text_field :name_or_address_cont, class: "form-control form-control-sm ", placeholder: "キーワードで検索" %>
      <%= f.submit "検索", class: "btn-{themecolor}.rounded-0  btn-secondry mr-2"%>
    </div>
  <% end %>