<% provide(:title, 'spot一覧') %>
<div class="container">
  <h1 class= "text-center mb-5">名所一覧</h1>
  <h5>検索結果</h5>
  <h5>全<%= @count %>件のスポットが見つかりました</h5>
  <%= render 'spots/spots', spots: @spots %>
</div>