<% provide(:title, "userの編集") %>

<h1 class="text-center">登録情報の更新</h1>

<div class="row mt-5">
    <div class="col-sm-6 offset-sm-3">
        <%= render "layouts/form", user: @user%>
    </div>
</div>