<% provide(:title, "Toppage") %>

<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Toku-Toku</h1>
  </div>
</div>

<!--ここに検索-->


<div class="">
    <div>
        <h2>エリア別に探す</h2>
    </div>
    
    <div class="mb-5">
        <li class=""><a href="#">徳島市</a></li>
        <li class=""><a href="#">鳴門市</a></li>
        <li class=""><a href="#">小松島市</a></li>
        <li class=""><a href="#">阿南市</a></li>
        <li class=""><a href="#">吉野川市</a></li>
        <li class=""><a href="#">阿波市</a></li>
        <li class=""><a href="#">美馬市</a></li>
        <li class=""><a href="#">三好市</a></li>
        <li class=""><a href="#">勝浦町</a></li>
        <li class=""><a href="#">上勝町</a></li>
        <li class=""><a href="#">佐那河内村</a></li>
        <li class=""><a href="#">石井町</a></li>
        <li class=""><a href="#">神山町</a></li>
        <li class=""><a href="#">那珂町</a></li>
        <li class=""><a href="#">牟岐町</a></li>
        <li class=""><a href="#">美波町</a></li>
        <li class=""><a href="#">海陽町</a></li>
        <li class=""><a href="#">松茂町</a></li>
        <li class=""><a href="#">北島町</a></li>
        <li class=""><a href="#">藍住町</a></li>
        <li class=""><a href="#">板野町</a></li>
        <li class=""><a href="#">上板町</a></li>
        <li class=""><a href="#">つるぎ町</a></li>
        <li class=""><a href="#">東みよし市</a></li>
    </div>
</div>